html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* font-size:100%; */
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  background-color: #f1f4f6;
}

#app {
  height: 100%;
}

.el-header {
  height: 56px !important; 
  background-color: #fff;
  padding: 0 20px !important;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08); 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-info {
  margin-top: 15px; 
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: 1px solid #eee;
}

:root {
  --primary-color: #67cebc;     
  --bg-color: #f4f7f9;          
  --text-main: #303133;        
  --border-radius: 8px;         
}

.main-content-card {
  background: #fff;
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}